# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

#Other
EvalBoards/ST/STM32F4-Discovery/uCOS-III/KeilMDK/Obj/
EvalBoards/ST/STM32F4-Discovery/uCOS-III/KeilMDK/Lst/
EvalBoards/ST/STM32F4-Discovery/sourceinsight/
